body {
  font-family: "Times New Roman", serif;
  text-align: center;
  background: #d1f9fc;
  margin: 0;
  padding: 0;
}

.form-box {
  margin: 20px auto;
}

input {
  display: block;
  margin: 8px auto;
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background: #0623c7;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  transition: background 0.3s;
}

button:hover {
  background: #030f80;
}

.cover {
  width: 600px;
  max-width: 95%;
  margin: 40px auto;
  background: rgb(248, 249, 255);
  padding: 40px;
  border: 1px solid #0d0e14;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.logo {
  width: 280px;
  max-width: 90%;
  margin-bottom: 10px;
}

.credit {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

@media (max-width: 600px) {
  input, button {
    width: 90%;
  }

  .cover {
    padding: 20px;
  }

  .logo {
    width: 70%;
  }
}
